<?xml version="1.0" encoding="UTF-8"?>
<policy:Policy xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:govcontrol="http://xsd.tns.tibco.com/governance/models/govcontrol" xmlns:policy="http://tns.tibco.com/bw/model/core/policy" xmlns:template_2010="http://xsd.tns.tibco.com/governance/rule/template/2010" name="splunkapisuite.configuration.module.BasicCredentialMapping" policyId="bw.policy">
  <configuration xsi:type="govcontrol:StandaloneRule" name="splunkapisuite.configuration.module.BasicCredentialMapping" template="template_2010:BasicCredentialMapping" templateVersion="1.0.0">
    <groups paramGroupName="CredentialMapping">
      <paramSettings xsi:type="govcontrol:SingleParamSetting" paramName="CredentialMappingType" type="STRING" value="IdentityProvider"/>
      <paramSettings xsi:type="govcontrol:SingleParamSetting" paramName="FixedTypeSelected" type="BOOLEAN" value="true"/>
    </groups>
    <groups paramGroupName="IdentityProviderCredentialMapping">
      <paramSettings xsi:type="govcontrol:ComplexParamSetting" paramName="IspCredentialMappingDefault" type="COMPLEX">
        <properties propertyName="IspRefreshInterval" type="STRING">
          <value xsi:type="govcontrol:SingleVal" value="600000"/>
        </properties>
        <properties propertyName="IdentityProvider" type="RESOURCE_INSTANCE">
          <value xsi:type="govcontrol:SingleVal" value="splunkapisuite.configuration.module.BasicCredentialMapping_FixedIdentityProvider" resourceType="SubjectIdentityResource">
            <refPropertyNames>DefaultIDProvider</refPropertyNames>
          </value>
        </properties>
      </paramSettings>
    </groups>
  </configuration>
</policy:Policy>
