{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpclient}HttpClientConfiguration.fbc37c4e-b2bf-4c96-a48f-7236c9a3721f",
  "properties": {
    ".type.useDefaultSSL": {
      "name": ".type.useDefaultSSL",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".type.host": {
      "name": ".type.host",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".name": {
      "name": ".name",
      "value": "slackconnector.HttpClientResource",
      "type": "java.lang.String"
    },
    ".type.maxTotalConnectionsPerHost": {
      "name": ".type.maxTotalConnectionsPerHost",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".deployment.name": {
      "name": ".deployment.name",
      "value": "SlackConnector.application",
      "type": "java.lang.String"
    },
    "maxTotalConnectionsPerHost": {
      "name": "maxTotalConnectionsPerHost",
      "value": 20,
      "type": "java.lang.Integer"
    },
    "useSingleCookieHeader": {
      "name": "useSingleCookieHeader",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "idleConnectionTimeout": {
      "name": "idleConnectionTimeout",
      "value": 3000,
      "type": "java.lang.Long"
    },
    ".public": {
      "name": ".public",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".type.soReceiveBufferSize": {
      "name": ".type.soReceiveBufferSize",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".type.logReqRespTime": {
      "name": ".type.logReqRespTime",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpclient}HttpClientConfiguration",
      "type": "java.lang.String"
    },
    ".type.staleCheck": {
      "name": ".type.staleCheck",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".type.connectionTimeout": {
      "name": ".type.connectionTimeout",
      "value": "java.lang.Long",
      "type": "java.lang.String"
    },
    ".type.retryCount": {
      "name": ".type.retryCount",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".ns2locMap": {
      "name": ".ns2locMap",
      "value": {},
      "type": "java.util.Map"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "SlackConnector",
      "type": "java.lang.String"
    },
    ".type.soSendBufferSize": {
      "name": ".type.soSendBufferSize",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "host": {
      "name": "host",
      "value": "iqagroup.slack.com",
      "type": "java.lang.String"
    },
    ".type.soTimeout": {
      "name": ".type.soTimeout",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".type.useSingleThreadConnectionManager": {
      "name": ".type.useSingleThreadConnectionManager",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".bundle.id": {
      "name": ".bundle.id",
      "value": 215,
      "type": "java.lang.Long"
    },
    "tcpNoDelay": {
      "name": "tcpNoDelay",
      "value": true,
      "type": "java.lang.Boolean"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "soTimeout": {
      "name": "soTimeout",
      "value": 0,
      "type": "java.lang.Integer"
    },
    ".type.soReuseAddress": {
      "name": ".type.soReuseAddress",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".type.acceptRedirect": {
      "name": ".type.acceptRedirect",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".type.connectionRetrievalTimeout": {
      "name": ".type.connectionRetrievalTimeout",
      "value": "java.lang.Long",
      "type": "java.lang.String"
    },
    ".deployment.version": {
      "name": ".deployment.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpclient}HttpClientConfiguration.fbc37c4e-b2bf-4c96-a48f-7236c9a3721f",
      "type": "java.lang.String"
    },
    "useSSL": {
      "name": "useSSL",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "connectionRetrievalTimeUnit": {
      "name": "connectionRetrievalTimeUnit",
      "value": "SECONDS",
      "type": "java.lang.String"
    },
    ".type.soBufferSize": {
      "name": ".type.soBufferSize",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "connectionRetrievalTimeout": {
      "name": "connectionRetrievalTimeout",
      "value": 0,
      "type": "java.lang.Long"
    },
    ".type.port": {
      "name": ".type.port",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "port": {
      "name": "port",
      "value": 80,
      "type": "java.lang.Integer"
    },
    ".type.useNonPreemptiveAuth": {
      "name": ".type.useNonPreemptiveAuth",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    "soLinger": {
      "name": "soLinger",
      "value": 0,
      "type": "java.lang.Integer"
    },
    "soBufferSize": {
      "name": "soBufferSize",
      "value": -1,
      "type": "java.lang.Integer"
    },
    "staleCheck": {
      "name": "staleCheck",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".isresource": {
      "name": ".isresource",
      "value": "true",
      "type": "java.lang.String"
    },
    "useSingleThreadConnectionManager": {
      "name": "useSingleThreadConnectionManager",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "maxTotalConnections": {
      "name": "maxTotalConnections",
      "value": 200,
      "type": "java.lang.Integer"
    },
    "soReceiveBufferSize": {
      "name": "soReceiveBufferSize",
      "value": -1,
      "type": "java.lang.Integer"
    },
    ".type.soLinger": {
      "name": ".type.soLinger",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "useNonPreemptiveAuth": {
      "name": "useNonPreemptiveAuth",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".type.tcpNoDelay": {
      "name": ".type.tcpNoDelay",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    "soReuseAddress": {
      "name": "soReuseAddress",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "httpClientVersion": {
      "name": "httpClientVersion",
      "value": "httpcomponents",
      "type": "java.lang.String"
    },
    ".type.useSingleCookieHeader": {
      "name": ".type.useSingleCookieHeader",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".type": {
      "name": ".type",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpclient}HttpClientConfiguration",
      "type": "java.lang.String"
    },
    ".enabled": {
      "name": ".enabled",
      "value": "true",
      "type": "java.lang.String"
    },
    "logReqRespTime": {
      "name": "logReqRespTime",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".type.useSSL": {
      "name": ".type.useSSL",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    "acceptRedirect": {
      "name": "acceptRedirect",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "soSendBufferSize": {
      "name": "soSendBufferSize",
      "value": -1,
      "type": "java.lang.Integer"
    },
    "useDefaultSSL": {
      "name": "useDefaultSSL",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    "connectionTimeout": {
      "name": "connectionTimeout",
      "value": 0,
      "type": "java.lang.Long"
    },
    ".type.idleConnectionTimeout": {
      "name": ".type.idleConnectionTimeout",
      "value": "java.lang.Long",
      "type": "java.lang.String"
    },
    ".type.httpClientVersion": {
      "name": ".type.httpClientVersion",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "retryCount": {
      "name": "retryCount",
      "value": 3,
      "type": "java.lang.Integer"
    },
    ".type.checkThreadPool": {
      "name": ".type.checkThreadPool",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".type.connectionRetrievalTimeUnit": {
      "name": ".type.connectionRetrievalTimeUnit",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.maxTotalConnections": {
      "name": ".type.maxTotalConnections",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "checkThreadPool": {
      "name": "checkThreadPool",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".deployment.type": {
      "name": ".deployment.type",
      "value": "application",
      "type": "java.lang.String"
    }
  }
}