<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="bw-runtime">
<locations>



<location path="D:/TCIStudio/bwcloud/1.0/system/hotfix/lib/common" type="Directory"/>
<location path="D:/TCIStudio/bwcloud/1.0/system/lib/common" type="Directory"/>

<location path="D:/TCIStudio/bwcloud/1.0/system/hotfix/palettes" type="Directory"/>
<location path="D:/TCIStudio/bwcloud/1.0/system/palettes" type="Directory"/>

<location path="D:/TCIStudio/bwcloud/1.0/system/hotfix/shared" type="Directory"/>
<location path="D:/TCIStudio/bwcloud/1.0/system/shared" type="Profile"/>
</locations>
</target>
