{
  "pid": "com.tibco.bw.stat.appnode.682f7484-87ec-4ae3-b563-0a80c163893f",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.682f7484-87ec-4ae3-b563-0a80c163893f",
      "type": "java.lang.String"
    }
  }
}